DATABASE_URL=postgresql://postgres:postgres@127.0.0.1:5432/steam_ingress

CACHE_URL=redis://127.0.0.1:6379
SERVERS_KEY=steam_ingress:servers

GEOIP_HOST=127.0.0.1
GEOIP_PORT=8081
GEOIP_POOL_SIZE=12
GEOIP_REQUEST_TIMEOUT_MS=2500